---
import MouseLight from '../components/MouseLight';
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Maiia — Frontend Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-gray-700">
    <MouseLight client:load />
    <main class="min-h-screen flex flex-col items-center justify-center px-4">
       <slot />
    </main>
  </body>
</html>